.cardBody {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .textBox {
    position: relative;
  }

  .empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .settingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {}

    .settingButtons {
      display: flex;
      gap: 16px;
    }
  }

  .actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
  }
}